*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --textprimary: #013D4E;
  --textsecondry: #FFFFFF;
  --bgprimary: #FFFFFF;
  --bgsecondry: #024154;
  --DMSans:"DM Sans";
  --Nunito:"Nunito";
  --lato:"Lato";
  --PlusJakartaSans:"Plus Jakarta Sans";
  --Roboto:"Roboto";
}

main{
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}
nav{
  width: 310px;
  /* width: 20vw; */
  min-height: 90vh;
  margin-top: 5vh;
  position: relative;
}

.nav-close{

  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--textsecondry);
  font-weight: 800;
  background-color: var(--bgprimary);
  border: 2px solid black;
  position: absolute;
  right: 0px;
  top: 50px;
  transform: translateX(60%);
  display: none;
}
.nav-close img{
  rotate: 270deg;
  height: 10px;
}

.nav-open{
  left: 0px !important;
}

@media (max-width: 1150px) {
  nav{
    position: absolute;
    left: -310px;
    background-color: var(--bgprimary);
    z-index: 99;
    margin-top: 0vh;
  }
  .nav-close{
    display: block;
    display: flex;
  }
  .video-button{
    font-size: 15px !important;
    padding: 13px 20px !important;

  }
}
@media (max-width: 750px) {
  .right-side{
    width: 100%;
    min-height: 200vh;
  }
}
.right-side{
  width: 100%;
  min-height: 100vh;
  /* padding-bottom: 100px; */
}

.header-upper{
  display: flex;
  float: right;
  gap: 5px;
  padding: 10px;
}

.header-upper p{
  color: var(--textprimary);
  font-weight: 500;
  border-radius: 20px;
  background-color:#EFFBFF ;
  font-size: 10px;
  font-family: var(--DMSans);
  padding: 5px 10px;
}
.web-logo{
margin-top: 15px;
padding-left: 10px;
margin-bottom: 30px;
}

.Navlink-wrapper{
  /* background-color: -; */
  padding: 10px 10px;
  padding: 10px 0px 10px 10px;
  transition: 0.4s;
  cursor: pointer;
}
.Navlink-wrapper:hover{
  background-color: var(--bgsecondry);
}
.Navlink-wrapper:hover .link-left p{
  color: var(--textsecondry);
}
.Navlink-wrapper:hover .navlink-lower p{
  color: var(--textsecondry);
}

.navlink-uppwer, .link-left{
  display: flex;
  align-items: center;
}
.navlink-uppwer{
  justify-content: space-between;
  /* margin-top: 30px; */
}

.link-left p{
  font-family: var(--Nunito);
  font-weight: 500;
  font-size: 18px;
  color: var(--textprimary);
  padding-left: 5px;
  margin: 0px;
}
.link-right p{
  color: var(--textprimary);
  font-weight: 500;
  border-radius: 39px;
  background-color:#EFFBFF ;
  font-size: 9px;
  font-family: var(--PlusJakartaSans);
  margin: 0px;
  padding: 6px 26px;
}
.navlink-lower p{
  font-size: 11px;
  font-family: var(--lato);
  font-weight: 400;
  color: var(--textprimary);
  margin: 0px;
  margin-top: 5px;
  padding-left: 24px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  color: var(--textprimary);
  font-weight: 700;
  border-radius: 39px;
  background-color:#EFFBFF ;
  font-size: 9px;
  font-family: var(--PlusJakartaSans);
  margin: 0px;
  padding: 6px 26px;
  cursor: pointer;
  border: none;
  display: flex;
  gap: 3px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
  margin-top: 20px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav-profile-card{
  background-color: #459E97;
  border-radius: 10px;
  border: 3px solid rgba(5, 89, 114, 0.19);
  /* height: 150px; */
  display: flex;
  flex-direction: column;
  padding: 60px 30px 30px 30px;
  margin-top: 80px;
  position: relative;
}
.profile-name{
  font-weight: 700;
  font-size: 18px;
  font-family: var(--PlusJakartaSans);
  color: rgba(255, 255, 255, 1);
  text-align: center;
}
.profile-description{
  font-family: var(--lato);
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  margin-top: 10px;
}
.profile-button{
  background-color: rgba(255, 255, 255, 0.14);
  border-radius: 10px;
  font-size: 13px;
  font-weight: 600;
  font-family: var(--PlusJakartaSans);
  color: rgba(255, 255, 255, 1);
  padding: 10px 15px;
  border: none;
  display: flex;
  margin-top: 15px;
}
.profile-box{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  /* background-color: red; */
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.profile-img{
  min-height: 80px;
  min-width: 80px;
  padding-top: 30px;
  position: absolute;
  object-fit: cover;
}

.google-img{
  height: 25px;
}
.google-text{
  color: rgba(69, 158, 151, 1);
  font-weight: 600;
  font-size: 13px;
}
.icon-box{
  border-radius: 3px;
  height: 24px;
  width: 24px;
  background-color: rgba(254, 165, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-box2{
  border-radius: 3px;
  height: 24px;
  width: 24px;
  /* background-color: rgba(254, 165, 0, 1); */
  background: linear-gradient(90deg, #FEA500 0%, #FEA500 45.5%, #FEA500 49%, #D9D9D9 51.5%, #D9D9D9 99.98%, rgba(33, 150, 83, 0) 99.99%, #D9D9D9 100%);

  display: flex;
  justify-content: center;
  align-items: center;

}
.nav-rating-wrapper{
  display: flex;
  align-items: center;
  gap: 5px;
  padding-left: 10px;
  margin-top: 15px;
}

.rating-wrapper{
  display: flex;
  gap: 3px;
}
.nav-bottom-text{
  color: rgba(2, 65, 84, 1);
  font-size: 10px;
  text-align: center;
  margin-top: 10px;
  padding-bottom: 5vh;
}

/* -------- Right side ------- */

.right-side-header{
  height: 150px;
  background-color: #459E97;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 50px;
  display: flex;
  justify-content: space-between;

}
.side-header-heading{
  font-size: 24px;
  font-weight: 700;
  color: var(--textsecondry);
  font-family: var(--Roboto);
  line-height: 28px;
}
.side-header-subheading{
  font-size: 20px;
  font-weight: 400;
  color: #E8E8E8;
  font-family: var(--Roboto);
  line-height: 24px;
  margin-top: 10px;
}

.iicon-text{
  font-size: 15px;
  font-weight: 400;
  color: var(--textsecondry);
}

.side-header-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.side-header-right img{
  height: 25px;
}

/* -----grid------ */

.box1 img{
  height: 100%;
  width: 100%;
  scale: 1.1;
  object-fit: cover;
  border-radius: 20px;
}
.box2 img{
  height: 100%;
  width: 100%;
  scale: 1.1;
  object-fit: cover;
  border-radius: 20px;
}
.box5 img{
  height: 100%;
  width: 100%;
  scale: 1.1;
  object-fit: cover;
  border-radius: 20px;
}
.box3 img{
  height: 100%;
  width: 100%;
  scale: 1.1;
  object-fit: cover;
  border-radius: 20px;
}
.box7 img{
  height: 100%;
  width: 100%;
  scale: 1.1;
  object-fit: cover;
  border-radius: 20px;
}
.box6 img{
  height: 100%;
  width: 100%;
  scale: 1.1;
  object-fit: cover;
  border-radius: 20px;
}
.box3{
   background-image: url(../public/assets/box2img.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.box2 img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
} 

.grid-main-container{
  max-height: 750px;
  height: 100%;
}
@media (max-width: 750px) {
  .grid-main-container{
    max-height: 1000px;
    height: 100%;
  }
}
@media (max-width: 600px) {
  .grid-main-container{
    max-height: 3000px;
    height: 100%;
  }
}
.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(4, 1fr); /* 3-column layout for desktop */
  gap: 20px; /* Gap between items */
  padding: 50px 100px;
}
@media (max-width: 1000px) {
  .grid-container {
    padding: 50px 50px;
  }

}
.side-header-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 750px) {
  .grid-container {
    padding: 20px 20px;
  }
  .right-side-header{
    padding: 20px;
    justify-items: center;
    
  }
  .side-header-heading{
    font-size: 18px;
  }
  .side-header-subheading{
    font-size: 16px;
  }

}
@media (max-width: 600px) {
  .right-side-header{
    padding: 0px 20px;
    justify-items: center;
    
  }
  .side-header-heading{
    font-size: 16px;
  }
  .side-header-subheading, .iicon-text{
    font-size: 14px;
  }

}
@media (max-width: 600px) {
  .grid-container {
    padding: 10px 10px;
  }

}

/* General grid item styling */
.grid-item {
  background-color: rgba(255, 0, 0, 0.8);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.2rem;
  overflow: hidden;

}

.video-block {
  grid-column: span 2; /* Span 2 columns */
  grid-row: span 2; /* Span 2 rows */
  display: flex;
  flex-direction: column;
  position: relative;
}

.box4, .quote{
  flex-direction: column;
  padding: 10px;
  text-align: center;
  color: var(--textsecondry);
  font-family: var(--DMSans);
  font-size: 16px;
  padding: 10px;
}
.box1, .box4, .box5{
  grid-row: span 2;
}
.box6{
  grid-column: span 2;
}

.video-overlay{
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9 !important;
}
video{
  z-index: 8 !important;
}



.video-button{
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  font-weight: 700;
  font-size: 24px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 13px 60px;
  border: none;
  z-index: 10 !important;
}

.box4{
  padding-top:40px;

}
/* Responsive design */
@media (max-width: 768px) {
  .grid-container {
      grid-template-columns: repeat(2, 1fr); /* 2 columns for tablets */
  }
  .box2, .box1, .box3, .box4, .box8, .box5, .box7{
    grid-row: span 8;

  }
  .box6{
    grid-row: span 8;

  }
  .box6{
    grid-column: span 2;
  }
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .grid-item {
    grid-column: span 1;
    grid-row: span 10;
  }
}


/* -----grid------ */

.right-bottom{
  /* background-color: blue;  */
  display: flex;
  /* padding-bottom: 30px; */
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 10px; 
}
.right-bottom p{
  font-weight: 400;
  font-size: 10px;
  color: rgba(43, 96, 111, 0.4); 
}